#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.emoji-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.emoji {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 30px;
	border: black solid 5px;
	font-size: 10vh;
}

.correct {
	border: green solid 5px;
}

#rank-container {
	display: inline-flex;
	align-items: center;
	gap: 5px;
}

hr {
	margin: 2vh;
}

#rank-icon {
	height: 4rem;
}

progress {
	width: 10rem;
	height: 50px;
}

/* .emoji-card:hover {
	border: blue solid 5px;
	cursor: pointer;
} */
